<a href="{{ site.baseurl }}/days/day1"><p>Day 1</p></a>
<a href="{{ site.baseurl }}/days/day2"><p>Day 2</p></a>
<a href="{{ site.baseurl }}/days/day3"><p>Day 3</p></a>
<a href="{{ site.baseurl }}/days/day4"><p>Day 4</p></a>
<a href="{{ site.baseurl }}/days/day5"><p>Day 5</p></a>
<a href="{{ site.baseurl }}/days/day6"><p>Day 6</p></a>
<a href="{{ site.baseurl }}/days/day7"><p>Day 7</p></a>
<a href="{{ site.baseurl }}/days/day8"><p>Day 8</p></a>
<a href="{{ site.baseurl }}/days/day9"><p>Day 9</p></a>
